/* .nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
} */


@media screen and (max-width: 400px) {
 
  html {
    background-color: #378ce1;
  }
}

@media screen and (min-width: 400px) and (max-width: 900px) {

  html {
    background-color: #bce137;
  }
}

@media screen and (min-width: 901px) {
 
  html {
    background-color: #b00ebb;
  }
}
