---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HomeHeader from "../components/HomeHeader.astro";
---

<Layout title="The Cook Book">
	<main>
		<HomeHeader title={"The Cook Book"} />

		<ul role="list">
			<Card
				href="/starters/"
				image="/images/gratin.jpeg"
				title="STARTERS & SIDES"
				body="Classics and experiments."
			/>
			<Card
				href="/soups/"
				image="/images/cornChowder.jpeg"
				title="SOUPS"
				body="Well tried recipes."
			/>
			<Card
				href="/mains/"
				image="/images/chicken.jpeg"
				title="MAINS"
				body="Reinvensions, authors ideas, authentic and crazy."
			/>
			<Card
				href="/desserts/"
				image="/images/cake.jpeg"
				title="DESSERTS"
				body="Remember to measure!"
			/>
			<Card
				href="/desserts/"
				image="/images/cesarSalad.jpeg"
				title="SALADS"
				body="Not much but all I could get. Not a big salad eater."
			/>
			<Card
				href="/desserts/"
				image="/images/pastaWrack.webp"
				title="TIPS AND TRICKS"
				body="Hard earned knowledge."
			/>
		</ul>
	</main>
</Layout>

<style>
	ul {
		/* display: flex;
		flex-wrap: wrap; */
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: ;
		grid-column-gap: 3px;
		grid-row-gap: 3px;
		width: 75%;
		margin: auto;
		margin-top: 140px;
		padding: 0;
	}

	main {
		margin: auto;
		/* padding: 1.5rem; */
		width: 100%;
		/* display: flex;
		flex-wrap: wrap; */
		display: grid;
	}

	h1 {
		font-size: 4em;
		/* why can't I change font size? */
		font-weight: 900;
		margin: 0;
		text-align: center;
	}
</style>
