---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HomeHeader from "../components/HomeHeader.astro";
---

<Layout title="The Cook Book">
	<main>
		<HomeHeader title={"The Cook Book"} />

		<ul role="list" class="link-card-grid">
			<Card
				href="/starters/"
				image="/images/frenchTacos.jpeg"
				title="STARTERS"
				body="Go to my first made from scratch page in this project"
			/>
			<Card
				href="/soups/"
				image="/images/cornChowder.jpeg"
				title="SOUPS"
				body="ajlaksjdljlj"
			/>
			<Card
				href="/mains/"
				image="/images/chicken.jpeg"
				title="MAINS"
				body="Go to my first made from scratch page in this project"
			/>
			<Card
				href="/desserts/"
				image="/images/cake.jpeg"
				title="DESSERTS"
				body="Go to my first made from scratch page in this project"
			/>
			<Card
				href="/desserts/"
				image="/images/cake.jpeg"
				title="SALADS"
				body="Go to my first made from scratch page in this project"
			/>
			<Card
				href="/desserts/"
				image="/images/cake.jpeg"
				title="TIPS AND TRICKS"
				body="Go to my first made from scratch page in this project"
			/>
		</ul>
	</main>
</Layout>

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: auto;
		margin-top: 140px;
		padding: 0;
	}

	main {
		margin: auto;
		/* padding: 1.5rem; */
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	h1 {
		font-size: 4em;
		/* why can't I change font size? */
		font-weight: 900;
		margin: 0;
		text-align: center;
	}

	/*
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}*/
	.link-card-grid {
		max-width: 80%;
		gap: 1rem;
		padding: 0;
	}  
</style>
