---
import TypeFoodLayout from '../layouts/MealType.astro';
import Card from '../components/Card.astro';
import MealType from '../layouts/MealType.astro';
---

<MealType title="MAINS">
	<main>
		
		<ul role="list" class="link-card-grid">
			
			<Card
				href="/posts/mains1-bolognese"
				title="Ragu Bolognese"
				body="Perfect for Spaghetti or Lasagna."
				image='/../images/bolognese.jpeg'
			/>
			<Card
				href="/posts/mains2-coqAuVin"
				title="Coq Au Vin"
				body="Thanks to Adam Ragusea this fabulous classic has new and easy incarnation."
				image='/../images/coqAuVin.jpeg'
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
				image='/../images/chicken.jpeg'
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
				image='/../images/chicken.jpeg'
			/>
		</ul>
	</main>
</MealType>

<style>
ul {
		display: flex;
		width: 80%;
		margin: auto;
		padding: 0;
		
	}
</style>
