---
import Card from "../components/Card.astro";
import MealType from "../layouts/MealType.astro";
---

<MealType title="MAINS">
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="/posts/mains1-bolognese"
				title="Ragu Bolognese"
				body="Perfect for Spaghetti or Lasagna."
				image="/../images/bolognese.jpeg"
			/>
			<Card
				href="/posts/mains2-coqAuVin"
				title="Coq Au Vin"
				body="Thanks to Adam Ragussea tis old classic got new interface."
				image="/../images/coqAuVin.jpeg"
			/>
			<Card
				href="/posts/mains3-enchiladas"
				title="Community"
				body="Delicious and cheesee!"
				image="/../images/enchiladas.jpeg"
			/>
			<Card
				href="/posts/mains4-kotbullar"
				title="Kotbullar"
				body="Original old fashion recipe."
				image="/../images/kotbullar.jpeg"
			/>
		</ul>
	</main>
</MealType>

<style>
	ul {
		display: flex;
		width: 80%;
		margin: auto;
		padding: 0;
	}
</style>
