---
import Card from '../components/Card.astro';
import MealType from '../layouts/MealType.astro';

---

<MealType title="MISCELLANEOUS">
	<main>
		<ul role="list" class="link-card-grid">
			
			<Card
				href="/posts/miscellaneous1-pasta/"
				title="Pasta Dough"
				body="For long pastas mostly."
				image='/../images/pasta.jpg'
			/>
			<Card
				href="/posts/miscellaneous1-pasta/"
				title="B"
				body="Come say hi to our amazing Discord community. ❤️"
				image='/../images/pasta.jpg'
			/>
			<Card
				href="/posts/miscellaneous1-pasta/"
				title="C"
				body="Come say hi to our amazing Discord community. ❤️"
				image='/../images/pasta.jpg'
			/>
			<Card
				href="/posts/miscellaneous1-pasta/"
				title="D"
				body="Come say hi to our amazing Discord community. ❤️"
				image='/../images/pasta.jpg'
			/>
		</ul>
	</main>
</MealType>

<style>

ul {
		display: flex;
		width: 80%;
		margin: auto;
		padding: 0;
		
	}

</style>
