---
import Card from "../components/Card.astro";
import MealType from "../layouts/MealType.astro";
---

<MealType title="STARTERS">
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="/posts/starters2/"
				title="PIPKO BOLESCI"
				body="Greasy and delicious."
				image="/../images/gratin.jpeg"
			/>
			<Card
				href="/posts/starters2/"
				title="Community"
				body="Greasy and delicious."
				image="/../images/gratin.jpeg"
			/>
			<Card
				href="/posts/starters2/"
				title="Community"
				body="Greasy and delicious."
				image="/../images/gratin.jpeg"
			/>
			<Card
				href="/posts/starters2/"
				title="Community"
				body="Greasy and delicious."
				image="/../images/frenchTacos.jpeg"
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Greasy and delicious."
				image="/../images/frenchTacos.jpeg"
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Greasy and delicious."
				image="/../images/frenchTacos.jpeg"
			/>
		</ul>
	</main>
</MealType>

<style>
	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: ;
		grid-column-gap: 3px;
		grid-row-gap: 3px;
		width: 75%;
		margin: auto;
		margin-top: 10px;
		padding: 0;
	}

	main {
		margin: auto;
		width: 100%;
			}
</style>
