---
export interface Props {
	href: string;
}

const { href } = Astro.props;
---

	<a href={href}>
		<img class="logoImage" src="/images/Logo.png" />
	</a>
<style>

a{
	grid-area: 1 / 1 / 2 / 2;
}
.logoImage {
	width: 150px;
	height: 150px;
	margin: auto;
}

</style>
